<template>
  <div class="container">
    <div class="row">
      <div class="col-12 form" v-if="!showPrices">
        <form>
          <div class="col-12">
            <div class="justify-between flex">
              <label for="stockSymbol">Stock Symbol:</label>
              <input
                  class="input100"
                  id="stockSymbol"
                  placeholder="Type your stock symbol"
                  type="text"
                  @blur="getStockPrice"
                  name="stockSymbol"
                  v-validate="'required|alpha'"
                  v-model="form.stockSymbol">

            </div>
            <span class="small alert">{{ errors.first('stockSymbol') }}</span>
          </div>


          <div class="col-12">
            <label>Select the Social Media:</label>
            <div class="flex" v-if="socialMediasAvailable.length">
              <social-media @socialMediaUpdated="socialMediaUpdated" />
            </div>
            <div class="loader" v-else></div>
          </div>

          <div class="col-12 flex justify-between">
            <label for="totalDays">Time Window:</label>
            <select id="totalDays" class="custom-select" v-model="form.timeWindow">
              <option value="10" selected>10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
          </div>

          <div class="col-12 flex justify-center">
            <button @click="getRecommendations(recommendationPayload)"
                    :class="{'button button-shadow': true, 'disabled': !form.canSubmit}"
                    :disabled="!form.canSubmit" type="button">
              Get my Recommendations
            </button>
          </div>
        </form>
      </div>

      <div class="col-12 form" v-else>
        <ul class="flex">
          <li><a href="javascript:void(0)" @click="currentTab = 'chart'" >Chart</a></li>
          <li><a href="javascript:void(0)" @click="currentTab = 'priceTable'" >Price table</a></li>
          <li><a href="javascript:void(0)" @click="showPrices = false" >Redo</a></li>
        </ul>


        <h1>Recommendation:
          <span
            :class="{'buy': recommendation === 'BUY',
             'hold': recommendation === 'hold',
             'sell': recommendation === 'SELL'}">
          {{ this.recommendation }}</span>
        </h1>
        <h4>Rating: {{ Math.round(this.recommendationObj.result * 100) / 100 }} </h4>
        <div class="flex direction-row justify-left">
          <p class="small mr-3">Rating Explained:</p>
          <p class="small mr-3">Rating > 7.5 should SELL </p>
          <p class="small mr-3">Rating < 7.5 and > 6.5 should HOLD</p>
          <p class="small">Rating < 6.5 should BUY </p>
        </div>

        <div class="flex direction-row">
          <risk-ratio @riskUpdated="indicatorUpdated"/>
          <constant @constantUpdated="indicatorUpdated" class="ml-3"/>
        </div>
        <price-table v-if="currentTab === 'priceTable'"></price-table>
        <prices-chart v-if="currentTab === 'chart'"></prices-chart>
        <top-social-media-posts />
      </div>
    </div>
  </div>
</template>

<script>
import SocialMedia from './partials/SocialMedia.vue';
import PriceTable from './partials/PriceTable.vue';
import PricesChart from './partials/PricesChart.vue';
import RiskRatio from './partials/RiskRatio.vue';
import Constant from './partials/Constant.vue';
import TopSocialMediaPosts from '../post/TopSocialMediaPosts.vue';
import mixins from '../../mixins/mixins';

export default {
  name: 'RecommendationForm',
  mixins: [mixins],
  components: {
    TopSocialMediaPosts,
    Constant,
    RiskRatio,
    PricesChart,
    PriceTable,
    SocialMedia,
  },
  data() {
    return {
      showPrices: false,
      currentTab: 'chart',
      form: {
        stockSymbol: '',
        timeWindow: 10,
        canSubmit: false,
      },
    };
  },

  computed: {
    recommendation() {
      let recommendation;
      if (this.recommendationObj.result > 7.5) {
        recommendation = 'SELL';
      } else if (this.recommendationObj.result < 7.5 && this.recommendationObj.result > 6.5) {
        recommendation = 'HOLD';
      } else {
        recommendation = 'BUY';
      }

      return recommendation;
    },
    recommendationPayload() {
      return {
        prices: this.pricesPerDay,
        timeWindow: this.form.timeWindow,
        socialMedia: this.mediaSelectedTitleList,
      };
    },
  },
  watch: {
    /** Watching form to know if user can submit or not */
    form: {
      handler() {
        this.checkIfCanSubmit();
      },
      deep: true,
    },

    socialMediasAvailable: {
      handler() {
        this.checkIfCanSubmit();
      },
      deep: true,
    },

    /** Watching the timeWindow. If it changes, we generate the prices again */
    'form.timeWindow': function (val) {
      if (val > 10 && this.form.stockSymbol.length) {
        this.getStockPrice();
      }
    },
  },
  mounted() {
    this.$store.dispatch('socialMedia/fetchSocialMedia');
  },

  methods: {
    /** Fetch stock price after change timeWindow and give a symbol */
    getStockPrice() {
      if (this.form.stockSymbol.length) {
        const payload = {
          stockSymbol: this.form.stockSymbol,
          timeWindow: this.form.timeWindow,
        };
        this.$store.dispatch('stock/getStockPrice', payload);
      }
    },

    checkIfCanSubmit() {
      if (this.form.stockSymbol.length
        && this.form.timeWindow > 9
        && this.isAnySocialMediaSelected) {
        this.$validator.validate().then((valid) => {
          if (valid) {
            this.form.canSubmit = true;
          }
        });
        return;
      }
      this.form.canSubmit = false;
    },
    /** Get recommendations */
    getRecommendations(payload) {
      const getPostsFromSocial = {
        stockSymbol: this.form.stockSymbol,
        socialMedia: this.mediaSelected,
      };
      this.$store.dispatch('socialMedia/generatePosts', getPostsFromSocial).then(() => {
        this.$store.dispatch('recommendation/fetchRecommendations', payload).then((result) => {
          this.showPrices = true;
        });
      });
    },

    /** Event listener when social media has been updated */
    socialMediaUpdated(data) {
      this.socialMediaSelected = data;
    },

    /** Event listener when social media has been updated */
    indicatorUpdated(data) {
      const payload = this.recommendationPayload;
      if (data.value > 0) {
        payload[data.type] = data.value;
      }
      this.getRecommendations(payload);
    },
  },
};
</script>
