<template>
    <div class="flex align-center justify-between header">
        <div>
            <img src="../../assets/logo.png">
        </div>
    </div>
</template>

<script>
export default {

};
</script>

<style>

</style>
