<template>
  <div>
    <div class="flex direction-row">
      <h2>Constant</h2>
      <input class="form-input ml-3"
             min="0"
             name="constant"
             placeholder="Constant"
             type="number"
             v-model="constant"
             v-validate="'required|numeric'">
    </div>
    <span class="small alert">{{ errors.first('constant') }}</span>

  </div>
</template>

<script>
export default {
  name: 'Constant',
  data() {
    return {
      constant: 1,
      type: 'constant',
    };
  },
  watch: {
    constant() {
      this.$validator.validate().then((valid) => {
        if (valid) {
          this.$emit('constantUpdated', {
            type: this.type,
            value: this.constant,
          });
        }
      });
    },
  },
};
</script>

<style scoped>

</style>
