<template>
  <div id="chart"></div>
</template>

<script>
import ApexCharts from 'apexcharts';
import { mapGetters } from 'vuex';

export default {
  name: 'PricesChart',
  computed: {
    ...mapGetters('stock', {
      pricesPerDay: 'PRICES',
    }),
  },
  data() {
    return {
      chart: null,
      options: {},
    };
  },
  watch: {
    pricesPerDay() {
      this.updateChart();
    },
  },
  mounted() {
    this.loadChartOptions();
    this.renderChart();
  },

  methods: {
    loadChartOptions() {
      const prices = [];
      const dates = [];
      this.pricesPerDay.map((priceDate) => {
        prices.push(priceDate.price);
        dates.push(priceDate.date);
      });
      const options = {
        chart: {
          type: 'line',
        },
        colors: ['#00E396'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: 'straight',
        },
        toolbar: {
          tools: {
            selection: false,
          },
        },
        markers: {
          size: 6,
          hover: {
            size: 10,
          },
        },
        tooltip: {
          followCursor: false,
          theme: 'dark',
          x: {
            show: false,
          },
          marker: {
            show: false,
          },
          y: {
            title: {
              formatter() {
                return '';
              },
            },
          },
        },
        grid: {
          clipMarkers: false,
        },
        series: [{
          name: 'price',
          data: prices.reverse(),
        }],
        xaxis: {
          categories: dates.reverse(),
        },
      };

      this.options = options;

    },

    renderChart() {
      this.loadChartOptions()
      this.chart = new ApexCharts(document.querySelector('#chart'), this.options);
      this.chart.render();
    },

    updateChart() {
      this.loadChartOptions()
      this.chart.updateOptions(this.options, true);

    },
  },


};
</script>

<style scoped>
  #chart {
    height: 300px;
    margin: 35px auto;
  }
</style>
