<template>
  <table>
    <tr>
      <th>Symbol</th>
      <th>Date</th>
      <th>Price</th>
    </tr>
    <tr :key="key" v-for="(price, key) in pricesPerDay">
      <td>{{ price.symbol }}</td>
      <td>{{ price.date }}</td>
      <td><span :class="price.status">{{ price.price | toUSD}}</span></td>
    </tr>
  </table>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'PriceTable',
  data() {
    return {
      prices: [],
    };
  },
  computed: {
    ...mapGetters('stock', {
      pricesPerDay: 'PRICES',
    }),
  },
};
</script>

<style scoped>

</style>
