<template>
  <div>
    <div class="flex direction-row">
      <h2>Risk</h2>
      <input type="number" min="0"
             v-validate="'required|numeric'"
             name="risk"
             class="form-input ml-3"
             placeholder="Risk Ratio"
             v-model="risk">
    </div>
    <span class="small alert">{{ errors.first('risk') }}</span>
  </div>
</template>

<script>
export default {
  name: 'RiskRatio',
  data() {
    return {
      risk: 0,
      type: 'risk',
    };
  },
  watch: {
    risk() {
      this.$validator.validate().then((valid) => {
        if (valid) {
          this.$emit('riskUpdated', { type: this.type, value: this.risk });
        }
      });
    },
  },
};
</script>

<style scoped>

</style>
