<template>
  <div>
    <img :class="{'icon': true, 'active': selected}" :src="social.image" @click="selectMedia"/>
  </div>
</template>

<script>

export default {
  name: 'SocialMediaIcon',
  props: ['social', 'selected'],

  methods: {
    selectMedia() {
      const data = {
        social: this.social.title,
        selected: !this.selected,
      };
      this.$emit('selected', data);
    },
  },
};
</script>

<style scoped>

</style>
