<template>
  <div class="flex">
    <a :key="social.id" href="javascript:void(0)" v-for="social in socialMediasAvailable">
      <social-media-icon :selected="social.selected"
                         :social="social"
                         @selected="socialMediaUpdated"
      />
    </a>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import SocialMediaIcon from './SocialMediaIcon.vue';

export default {
  components: { SocialMediaIcon },
  props: ['social'],
  watch: {
    socialMediaSelected(val) {
      this.$store.dispatch('socialMedia/selectSocialMedia', val);
    },
  },
  computed: {
    ...mapGetters('socialMedia', {
      socialMediasAvailable: 'MEDIA',
    }),
  },

  methods: {
    /**
       * Catches and handles when a social media is selected
       * @param data
       */
    socialMediaUpdated(data) {
      const socialMedia = this.socialMediasAvailable.find(social => social.title === data.social);
      if (data.selected) {
        socialMedia.selected = true;
      } else {
        socialMedia.selected = false;
      }
      this.$store.dispatch('socialMedia/selectMedia', socialMedia)
    },

  },
};
</script>

<style>

</style>
