<template>
  <div class="post--container flex">
    <div class="left--container col-4 flex direction-column align-center justify-center">
      <img src="/media-icons/user-avatar.png" width="35px" alt="Avatar">
      <span class="mt-1">{{ post.user }}</span>

      <div class="flex justify-start mt-1">
        <img :src="getSocialMediaIcon" width="20px" height="20px" alt="Social Media">
      </div>
    </div>
    <div class="right--container col-8 flex align-center justify-center">
      <p>{{ post.content }}</p>
    </div>
  </div>
</template>

<script>

export default {
  name: 'SocialMediaPost',
  props: ['post', 'socialMedia'],
  computed: {
    getSocialMediaIcon() {
      if (this.socialMedia === 'Twitter') {
        return '/media-icons/twitter.svg';
      }

      if (this.socialMedia === 'Instagram') {
        return '/media-icons/instagram.svg';
      }

      if (this.socialMedia === 'Facebook') {
        return '/media-icons/facebook.svg';
      }

      return '';
    },
  },
};
</script>

<style scoped>

</style>
