<template>
  <div class="flex direction-column">
    <div class="col-12">
      <h2>Top Social Media Posts</h2>
      <social-media></social-media>

      <label for="number_posts">Select how many posts you would like to see:</label>
      <input id="number_posts" type="number" class="form-input ml-3" v-model="totalPosts"/>

    </div>

    <div class="flex mt-1 overflow-x" v-for="p in postsByMedia">
      <social-media-post v-for="post in p.posts" :social-media="p.social_media" :post="post"></social-media-post>
    </div>
  </div>
</template>

<script>
import SocialMedia from '../form/partials/SocialMedia.vue';
import SocialMediaPost from './SocialMediaPost.vue';
import mixins from '../../mixins/mixins';

export default {
  name: 'TopSocialMediaPosts',
  components: { SocialMedia, SocialMediaPost },
  mixins: [mixins],
  data() {
    return {
      totalPosts: 2,
    }
  },
  watch: {
    totalPosts(val) {
      if(val > 2 && val < 10){
        this.$store.dispatch('socialMedia/topXpostsFromSocialMediaSelected', this.basePayload);
      }
    },
    mediaSelectedTitleList() {
      this.$store.dispatch('socialMedia/topXpostsFromSocialMediaSelected', this.basePayload);
    }
  },
  computed: {
    basePayload() {
      return {
        total: this.totalPosts,
        socialMediaList: this.mediaSelectedTitleList,
      }

    }
  },
  mounted() {
    this.$store.dispatch('socialMedia/topXpostsFromSocialMediaSelected', this.basePayload);
  }
};
</script>

<style scoped>

</style>
