<template>
  <div id="app">
    <app-header />
    <div class="banner">
      <h1>Check the best recommendations for a given stock symbol!</h1>
    </div>
    <recommendation-form />
  </div>
</template>

<script>
import AppHeader from './components/layout/AppHeader.vue';
import RecommendationForm from './components/form/RecommendationForm.vue';

export default {
  components: {
    AppHeader,
    RecommendationForm,
  },

  mounted() {},
};
</script>

<style lang="scss">

@import './scss/app';

</style>
