.post--container {
  border-radius: 10px;
  background-color: #F7F7F7;
  box-shadow: 0 2px 2px #cccccc;
  margin-right: 15px;
  height: 200px;
  min-width: 350px;


  .left--container {
    background-image: linear-gradient(180deg,#8b60ed,#b372bd);
    color: $color-white;
    border-radius: 10px;
    padding: 15px;
  }

  .right--container {
    color: #606f7b;
    padding: 15px;
  }
}
