.form {
  background-color: $color-white;
  margin-top: 2em;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 2px 2px #ccc ;
}

.icon {
  width: 50px;
  margin: 5px;
  padding: 10px;
  &.active {
    padding: 0px;
    border-width: 1px;
  }
}

/* BUTTON */
.button {
  background-color: $primary-color; /* Green */
  border: none;
  color: $color-white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  &.disabled {
    background-color: #cccccc;
  }
}

.button-shadow {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/** Inputs */
.form-input {
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
  border-style:solid;
  border-color: $color-grey
}

.input100 {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border-style:solid;
  border-color: $color-grey;
}

/** Select box */
select {
  width:100%;
  height: 40px;
}

/** List */
ul {
  list-style-type: none;
  li {
    background-color: $primary-color;
    padding: 10px 20px;
    margin: 10px;
    color: $color-white;
    border-radius: 5px;
  }

  a {
    text-decoration: none;
    color: $color-white;
  }
}

/** Color */

.buy {
  color: $buy-color;
}

.hold {
  color: $hold-color;
}

.sell {
  color: $sell-color;
}
.down {
  color: $down-color;
}
.up {
  color: $up-color;
}
.small {
  font-size: small;
  color: #c9c9c9;
}


/** color */
.alert {
  color: red;
}

.overflow-x {
  overflow-x: auto;
}
