.flex {
    display: flex;
  &.direction-column {
    flex-direction: column;
  }
  &.direction-row {
    flex-direction: row;
  }
}

// JUSTIFY
.justify-start {
    justify-content: start;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.row {
    max-width: 16;
}

// MARGING
.ml-1 {
    margin-left: 10px;
}
.mr-1 {
    margin-right: 10px;
}
.ml-2 {
    margin-left: 15px;
}
.mr-2 {
    margin-right: 15px;
}
.ml-3 {
    margin-left: 20px;
}
.mr-3 {
    margin-right: 20px;
}
.mr-l {
    margin-right: 5rem;
}
.ml-l {
    margin-right: 5rem;
}
.mt-1 {
  margin-top: 10px;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
