$font-stack:    Helvetica, sans-serif;
$primary-color: #9d52ba;
$secondary-color: #9d52ba;
$color-white: white;
$color-black: black;
$buy-color: #3EFFA2;
$hold-color: #8BBFFF;
$sell-color: #FF7555;
$down-color: #FF7555;
$up-color: #3EFFA2;
$color-grey: #ccc;
